body{
	background-color: #529273;
}

h1, h2{
	color:#EFFFDE;
	margin-top:25px;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	font-family:Verdana;
}

.container{
	background-color:#ADD794;
	color:#183442;
	width:500px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:auto;
	margin-left: auto;
    padding:1em;
    border-radius: 17px;
    text-align:center;
    letter-spacing:5px;
    font-size:larger;
}

#pass{
	font-size:larger;
	letter-spacing:1px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.input{
	width:150px;
	height:20;
	border:2.5px solid #11252F;
    border-radius: 17px;
	background-color:#183442;
	color: #EFFFDE;
	font-size:large;
	padding:5px;
}
.input:hover{
	background-color:#529273;
	border:2px solid #498266;
	font-style:italic;
}

.select{
	background-color:#ADD794;
	color:#183442;
	font-weight:bold;
	border-color:#529273;
}

footer{
	color:#EFFFDE;
	font-style:italic;
	text-align:right;
	padding:3em;
}