body{
	background-color: #529273;
}

h1, h2{
	color:#EFFFDE;
	margin-top:auto;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
}

.container{
	text-align:center;
	background-color:#ADD794;
	color:#183442;
	width:500px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:auto;
	margin-left: auto;
    padding:2em;
    border-radius: 17px;
}